<%= form_with url: "/home", method: :get do |form| %>
  <%= form.text_field :user_id, placeholder: "Flickr User ID" %>
  <%= form.submit "Fetch Photos" %>
<% end %>

<div class="photo-grid">
  <% if @photos %>
    <% @photos.each do |photo| %>
        <div class="photo-item">
          <div><%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg"%></div>
        </div>
    <% end %>
  <% end %>
</div>