/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #ecc1a1;
    --second-color: #dac8be;
    --dark-color: #58626c;
    --light-color: #f5f1ee;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color);
}

.user-id-form {
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    background-color: var(--second-color);
    box-shadow: 0px 1px 5px var(--dark-color);
}

.photo-grid {
    --photo-border-size: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(500px + var(--photo-border-size) * 2));
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.photo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(500px + var(--photo-border-size) * 2);
    height: 100%;
    background-color: var(--dark-color);
}

.photo-item > div > img {
    display: block;
    border: var(--photo-border-size) solid var(--second-color);
}